.App {
  text-align: center;
}
rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: rgb(122, 254, 34);
  opacity: 0.5;
}

rect.handle {
  fill: rgb(34, 254, 89);
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: rgb(17, 10, 156);
  fill: #5EAFC6;
}
.chart{
  transition: all 0.3s;
}
.chart:hover{
  fill: red !important;
}